<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-primary">Lista de Reparaciones</h3>
    <button class="btn btn-primary btn-sm" (click)="add()">Agregar Reparación</button>
  </div>
  

  <div class="input-group mb-3">
    <!-- Campo de búsqueda -->
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchReparacion"
      placeholder="Buscar por cliente o celular"
    />
    <button
      class="btn btn-outline-secondary ms-2"
      (click)="searchReparaciones()"
    >
      Buscar
    </button>
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Celular</th>
        <th>Problema</th>
        <th>Estado</th>
        <th>Fecha de Ingreso</th>
        <th>Fecha Estimada de Entrega</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reparacion of reparaciones">
        <td>{{ reparacion.id }}</td>

        <!-- Cliente -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ getCliente(reparacion.clienteId) }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <select
            [(ngModel)]="selectedReparacion.clienteId"
            class="form-control"
          >
            <option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{ cliente.nombre }} {{ cliente.apellido }}
            </option>
          </select>
        </td>

        <!-- Celular -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ getCelular(reparacion.celularId) }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <select
            [(ngModel)]="selectedReparacion.celularId"
            class="form-control"
          >
            <option *ngFor="let celular of celulares" [value]="celular.id">
              {{ celular.marca }} {{ celular.modelo }}
            </option>
          </select>
        </td>

        <!-- Problema -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ reparacion.problema }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <input
            [(ngModel)]="selectedReparacion.problema"
            class="form-control"
          />
        </td>

        <!-- Estado -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ reparacion.estado }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <input [(ngModel)]="selectedReparacion.estado" class="form-control" />
        </td>

        <!-- Fecha de Ingreso -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ reparacion.fechaIngreso | date : "yyyy-MM-dd" }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <input
            [(ngModel)]="selectedReparacion.fechaIngreso"
            type="date"
            class="form-control"
          />
        </td>

        <!-- Fecha Estimada de Entrega -->
        <td
          *ngIf="!selectedReparacion || selectedReparacion.id !== reparacion.id"
        >
          {{ reparacion.fechaEstimadaEntrega | date : "yyyy-MM-dd" }}
        </td>
        <td
          *ngIf="selectedReparacion && selectedReparacion.id === reparacion.id"
        >
          <input
            [(ngModel)]="selectedReparacion.fechaEstimadaEntrega"
            type="date"
            class="form-control"
          />
        </td>

        <!-- Acciones -->
        <td>
          <button
            *ngIf="
              !selectedReparacion || selectedReparacion.id !== reparacion.id
            "
            class="btn btn-info btn-sm me-2"
            (click)="edit(reparacion)"
          >
            Editar
          </button>
          <button
            *ngIf="
              selectedReparacion && selectedReparacion.id === reparacion.id
            "
            class="btn btn-success btn-sm"
            (click)="save()"
          >
            Guardar
          </button>
          <button
            *ngIf="
              selectedReparacion && selectedReparacion.id === reparacion.id
            "
            class="btn btn-secondary btn-sm"
            (click)="cancel()"
          >
            Cancelar
          </button>
          <button class="btn btn-danger btn-sm" (click)="delete(reparacion.id)">
            Eliminar
          </button>
        </td>
      </tr>

      <!-- Fila de Nueva Reparación -->
      <tr *ngIf="isAdding">
        <td></td>

        <!-- Cliente -->
        <td>
          <select
            [(ngModel)]="newReparacion.clienteId"
            class="form-control bg-light"
          >
            <option value="" disabled selected class="text-light bg-secondary">Selecciona un cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{ cliente.nombre }} {{ cliente.apellido }}
            </option>
          </select>
        </td>

        <!-- Celular -->
        <td>
          <select [(ngModel)]="newReparacion.celularId" class="form-control">
            <option value="" disabled selected class="text-light bg-secondary">Selecciona un celular</option>
            <option *ngFor="let celular of celulares" [value]="celular.id">
              {{ celular.marca }} {{ celular.modelo }}
            </option>
          </select>
        </td>

        <!-- Problema -->
        <td>
          <input [(ngModel)]="newReparacion.problema" class="form-control" />
        </td>

        <!-- Estado -->
        <td>
          <input [(ngModel)]="newReparacion.estado" class="form-control" />
        </td>

        <!-- Fecha de Ingreso -->
        <td>
          <input
            [(ngModel)]="newReparacion.fechaIngreso"
            type="date"
            class="form-control"
          />
        </td>

        <!-- Fecha Estimada de Entrega -->
        <td>
          <input
            [(ngModel)]="newReparacion.fechaEstimadaEntrega"
            type="date"
            class="form-control"
          />
        </td>

        <!-- Acciones -->
        <td>
          <button class="btn btn-success btn-sm" (click)="save()">
            Guardar
          </button>
          <button class="btn btn-secondary btn-sm" (click)="cancel()">
            Cancelar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <!-- Botón de Anterior -->
    <li class="page-item" [class.disabled]="page === 0">
      <a class="page-link" (click)="changePage(page - 1)" tabindex="-1">Anterior</a>
    </li>

    <!-- Botones numerados -->
    <li class="page-item" *ngFor="let p of [].constructor(totalPages); let idx = index" [class.active]="idx === page">
      <a class="page-link" (click)="changePage(idx)">{{ idx + 1 }}</a>
    </li>

    <!-- Botón de Siguiente -->
    <li class="page-item" [class.disabled]="page === totalPages - 1">
      <a class="page-link" (click)="changePage(page + 1)">Siguiente</a>
    </li>
  </ul>
</nav>


