<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="text-primary">Lista de Clientes</h3>
    <button class="btn btn-primary btn-sm" (click)="add()">
      Agregar Cliente
    </button>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar Cliente por Nombre"
      [(ngModel)]="searchCliente"
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary ms-2" (click)="searchClientes()">
        Buscar
      </button>
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (cliente of clientes; track $index) {

      <tr>
        <td>{{ cliente.id }}</td>

        @if (!selectedCliente || selectedCliente.id !== cliente.id) {

        <ng-container>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.email }}</td>

          <td>
            <button class="btn btn-info btn-sm me-2" (click)="edit(cliente)">
              Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(cliente.id)">
              Eliminar
            </button>
          </td>
        </ng-container>

        } @if (selectedCliente && selectedCliente.id === cliente.id) {

        <ng-container>
          <td>
            <input [(ngModel)]="selectedCliente.nombre" class="form-control" />
          </td>
          <td>
            <input
              [(ngModel)]="selectedCliente.apellido"
              class="form-control"
            />
          </td>
          <td>
            <input
              [(ngModel)]="selectedCliente.telefono"
              class="form-control"
            />
          </td>
          <td>
            <input [(ngModel)]="selectedCliente.email" class="form-control" />
          </td>
          <td>
            <button class="btn btn-success btn-sm" (click)="save()">
              Guardar
            </button>
            <button class="btn btn-secondary btn-sm" (click)="cancel()">
              Cancelar
            </button>
          </td>
        </ng-container>
        }
      </tr>
      } @if (isAdding) {

      <tr>
        <td></td>
        <td><input [(ngModel)]="newCliente.nombre" class="form-control" /></td>
        <td>
          <input [(ngModel)]="newCliente.apellido" class="form-control" />
        </td>
        <td>
          <input [(ngModel)]="newCliente.telefono" class="form-control" />
        </td>
        <td><input [(ngModel)]="newCliente.email" class="form-control" /></td>
        <td>
          <button class="btn btn-success btn-sm" (click)="save()">
            Guardar
          </button>
          <button class="btn btn-secondary btn-sm" (click)="cancel()">
            Cancelar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
