.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/fix2.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para mejor legibilidad */
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra para dar más énfasis */
  border-radius: 10px; /* Bordes redondeados para una mejor apariencia */
}

/* Ajusta el tamaño del texto */
.dashboard-container h2 {
  font-size: 2.5rem; /* Tamaño del título */
}

.dashboard-container p {
  font-size: 1.25rem; /* Tamaño del párrafo */
  margin-bottom: 0; /* Quita el margen inferior */
}

h2, p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #ffffff; /* Ajusta este color según sea necesario */
}




