body {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.btn-edit {
  margin-right: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
